.gepeto{
    margin-top: 1px;
    width: auto;
    height: 150px;
    border-radius: 45%;
    border-width: 5px;
}
.small-message {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    color: #555; /* Cambia el color según tu diseño */
    font-style: italic;
  }
 
  .boton-derecha {
    margin-left: auto;
}

.contenedor-derecha {
    display: flex;
    align-items: flex-end;
}

