
  <div>
    <ng-container *ngIf="state() === 'register'">
      <app-usuarioForm [state] ="state"  ></app-usuarioForm>
      
      </ng-container>

      <ng-container *ngIf="state() === 'login'">
        <app-login [state]="state"></app-login>
      </ng-container>
      <div class="container">
        <div>
          <p-button label="Ver metereologia de municipios" (onClick)="goToMetereology()" severity="secondary" ></p-button>
        </div>
        <div class="ml-3">
          <p-button label="Ver Datos de empresas APD" (onClick)="goToEmpresas()" severity="secondary" ></p-button>
        </div>

        <div class="ml-3">
          <p-button label="Chatbox"  severity="secondary" ></p-button>
        </div>

      </div>

     

        
  </div>
