<!-- app-chat.component.html -->
<div class="chat-container">
  <!-- Indicador de carga de respuesta -->
  <div *ngIf="cargandoRespuesta; else noCargando" class="text-center mt-2">
    <span style="color: green;">Gepeto está escribiendo...</span>
  </div>

  <!-- Indicador cuando no hay carga de respuesta -->
  <ng-template #noCargando>
    <div class="text-center mt-2">
      <span style="color: green;">Gepeto está online</span>
    </div>
  </ng-template>

  <!-- Panel de desplazamiento para mensajes -->
  <p-scrollPanel styleClass="chat-messages" [style]="{ 'height': '150px' }" id="scrollPanel" #scrollPanel>
    <!-- Iterar sobre los mensajes -->
    <p *ngFor="let mensaje of mensajes" [ngClass]="{'mensaje-usuario': mensaje.autor !== 'Gepeto', 'mensaje-asistente': mensaje.autor === 'Gepeto'}">
      <!-- Contenedor para mensajes de Gepeto -->
      <ng-container *ngIf="mensaje.autor === 'Gepeto'">
        <div class="grid gepeto-container">
          <div class="col-2">
            <img class="gepeto" src="assets/images/gepeto/normal.webp" alt="Gepeto">
          </div>
          <div class="col-10">
            <p>
              <span class="bold">{{ mensaje.autor }}</span> - {{ mensaje.timestamp }}
            </p>
            {{ mensaje.texto }}
          </div>
        </div>
      </ng-container>

      <!-- Contenedor para mensajes del usuario -->
      <ng-container *ngIf="mensaje.autor !== 'Gepeto'">
        <div class="grid" style="display: flex; justify-content: flex-end;">
          <div>
            <p>
              <span class="bold">{{ mensaje.autor }}</span> - {{ mensaje.timestamp }}
            </p>
          </div>
          <div class="ml-3 mb-2">
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge"></p-avatar>
          </div>
        </div>
        <div style="display: flex; justify-content: flex-start;">
          {{ mensaje.texto }}
        </div>
      </ng-container>

      <!-- Divisor entre mensajes -->
      <p-divider></p-divider>
    </p>

  <!-- Elemento de enfoque para desplazamiento automático -->
  <div #focusElement   style="height: 1px; width: 100%;"></div>
  </p-scrollPanel>

  <!-- Entrada de texto para nuevos mensajes -->
  <div class="chat-input">
    <input type="text" pInputText [(ngModel)]="nuevoMensaje" pAutoFocus [autofocus]="true" (keyup.enter)="cargandoRespuesta ? null : enviarMensaje()" placeholder="Pregunta sobre el catálogo..." #inputElement/>
    <p-button label="Enviar" (click)="enviarMensaje()" [disabled]="cargandoRespuesta"></p-button>
  </div>
</div>
