  
  <body>
    <div>
      <div class ="ml-2 inline">
        <p-button (onClick)="goToLogin()" icon="pi pi-arrow-left" label="Volver"></p-button>
        
      </div>
      <div class="ml-5 inline">
       <small>Provincia</small> 
      </div>

      <div class="ml-2 inline">
        <p-dropdown [options]="provinciasDropDown" (onChange)="updateProvincias($event)"   optionLabel="name" placeholder="Selecciona Provincia" ></p-dropdown>
      </div>

      <div class="ml-5 inline">
        <small>Municipio</small> 
       </div>

      <div class="ml-2 inline">
        <p-dropdown [options]="municipiosDropDown" optionLabel="name"  (onChange)="updateMunicipio($event)" placeholder="Selecciona Municipio" ></p-dropdown> 
      </div>

    </div>
    
      
    <p-tabMenu [model]="menuItemsDetalle" [activeItem]="activeMenuItemDetalle" (activeItemChange)="updateDetalleCategory($event)"></p-tabMenu>
    <br>
    <br>
    
    <div class="card"  >
      <p-card [header]="selectedMunicipios === '' ? 'Seleccione un municipio para empezar a consultar datos':  'Detalles meteorológicos de ' + getNombreMunicipio()">
        <div class="card-container">

            <div class="mb-5">
              <small><label>Seleccione el día para ver sus detalles meteorológicos</label></small> 
            </div>

            
          <div class ="mb-5">
            <p-steps [model] ="dias" [activeIndex]="activeIndexDate" (activeIndexChange)="updateDate($event)"[readonly]="false"></p-steps> 
          </div>

          <div>
            <div *ngIf="detalles.length !== 0; else elseBlock">
              <ng-container *ngIf="activeMenuItemDetalle.label === 'Resumen'">
                  
              </ng-container>
              <ng-container *ngIf="activeMenuItemDetalle.label === 'Precipitacion'">
                <app-precipitacion [detalles] ="detalles"></app-precipitacion>
              </ng-container>
              <ng-container *ngIf="activeMenuItemDetalle.label === 'Cota Nieve provincial'">
                <app-nieve [detalles] ="detalles" ></app-nieve>
              </ng-container>
              <ng-container *ngIf="activeMenuItemDetalle.label === 'Estado de cielo'">
                <app-cielo [detalles] ="detalles"></app-cielo>
              </ng-container>
              <ng-container *ngIf="activeMenuItemDetalle.label === 'Viento'">
                <app-viento [detalles] ="detalles"></app-viento>
              </ng-container>
              <ng-container *ngIf="activeMenuItemDetalle.label === 'Temperatura'">
                <app-temperatura [detalles] ="detalles"></app-temperatura>
              </ng-container>
              <ng-container *ngIf="activeMenuItemDetalle.label === 'Humedad relativa'">
                <app-humedad [detalles] ="detalles"></app-humedad>
              </ng-container>
            </div>
            <ng-template #elseBlock>
                <p>No hay datos, seleccione un municipio para empezar a consultar datos meterologicos</p>
            </ng-template>
          </div>

        </div>
      </p-card>
      
      
    </div>

   
  </body>  
