<p-toast key="tlf"></p-toast>
<div class ="card">
    <p-table 
    [value]="telefonos"
    
    #dt2
    dataKey="id"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 14, 21]"
    
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['numero']"
    [tableStyle]="{ 'min-width': '75rem' }"
    >
    <ng-template pTemplate="emptymessage" let-columns >
       
           
           <tr>
           
            <th style="width:99%"> <h3>No existen teléfonos</h3>  </th>
            <th></th>
            <th></th>
           </tr>
         
            
            
      
        <div class="flex align-content-center flex-wrap" >
           
           
        </div>
        

    </ng-template>
   
        <ng-template pTemplate="header">
            <tr>
                <th style="width:100%">
                    Añadir nuevo número de teléfono
                    <span style="margin: 0 8px;"></span> 

                    <form [formGroup]="formTlf">
                        <input type="text"  pKeyFilter="int " [placeholder]="'999 999 999'" pInputText  formControlName="telefono" id = "nuevoTelefono" (keyup.enter)="crearTelefono()" />
                        <span style="margin: 0 8px;"></span> 
                        <p-button label="Nuevo" (click)="crearTelefono()" severity="success"></p-button>    
                    </form>
                   
                </th>
                <th></th>
                <th></th>
            
       
                
            </tr>
            <tr >
                <th pSortableColumn="numero" >Número <p-sortIcon field="numero"></p-sortIcon></th>                
                <th >Opciones</th>
                
    
            </tr>
            <tr>
               
                <th>
                    <p-columnFilter type="text" field="numero"></p-columnFilter>
                </th>
                
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-telefonos let-i="rowIndex">
            <tr> 
                <td>
                   
                    <p-accordion (onOpen)="getData(telefonos, i)" >
                       
                        <p-accordionTab header="{{telefonos.numero}}" >
                            <p-toggleButton [(ngModel)]="checkedConsumo[i]" onLabel="Tabla" offLabel="Gráfica"></p-toggleButton>
                            <div *ngIf="emptychart[i]; else mostrarConsumos">
                                <h3>No hay consumos apuntados</h3>
                            </div>
                        
                        <ng-template #mostrarConsumos>

                            <p-progressSpinner *ngIf="loading" [style]="{ width: '50px', height: '50px' }"></p-progressSpinner>
                           

                            <div style="display: block">
                                <p-chart type="line" [data]="chartData[i]" [options]="chartOptions" ></p-chart>
                                <p-chart type="bar" [data]="chartDataPromedioMaxMin[i]" [options]="chartOptionsPromedioMaxMin"></p-chart>
                            </div>
                        </ng-template>       
                        
                            
                        </p-accordionTab>
                    </p-accordion>
                </td>
              
              <td> <p-button label="Borrar" (click)="borrarTelefono(telefonos.id)" severity="danger" ></p-button>
                    <br>
                    <br>
                    <p-overlayPanel #op>
                        <input type="text" pKeyFilter="int" [value]="telefonos.numero" pInputText (keyup.enter)="editarTelefono(telefonos)"   style="border: none;" [(ngModel)]="telefonos.numero" [id]="'editar' + telefonos.numero">
                    </p-overlayPanel>
                    <p-button label="Editar" (click)="op.toggle($event)" severity="success" ></p-button>
            </td>
               
        </tr>
           
        </ng-template>
    
    </p-table>
</div>


<br>
<!-- <p-button label="Ver clientes" [routerLink]= "'/clientes'" routerLinkActive="router-link-active"></p-button> -->



