<p-toast key="tlf"></p-toast>
<div class ="card">
    <p-table 
    [value]="telefonos"
    
    #dt2
    dataKey="id"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 14, 21]"
    
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['numero']"
    
    >
    <ng-template pTemplate="emptymessage" let-columns >
       
           
           <tr>
           
            <th> <h3>No existen teléfonos</h3>  </th>
            <th></th>
            
           </tr>
         
            
            
      
        <div class="flex align-content-center flex-wrap" >
           
           
        </div>
        

    </ng-template>
   
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 80%;">
                   
                    

                    <form [formGroup]="formTlf">
                        <span class="font-bold block mb-2">Crear teléfono</span>
                        <p-inputMask mask="999-999-999" type="text"  pKeyFilter="int " placeholder="999-999-999" pInputText  formControlName="telefono" id = "nuevoTelefono" (keyup.enter)="crearTelefono()" />
                        <span style="margin: 0 8px;"></span> 
                        <p-button label="Nuevo" (click)="crearTelefono()" severity="success"></p-button>    
                    </form>
                   
                </th>
                <th></th>
          

            </tr>
            <tr >
                <th pSortableColumn="numero" >Número <p-sortIcon field="numero"></p-sortIcon></th>                
                <th style="width:30%">Opciones </th>
                
    
            </tr>
            <tr>
               
                <th>
                    <p-columnFilter type="text" field="numero"></p-columnFilter>
                </th>
                
                <th></th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-telefonos  let-i="rowIndex">
            <tr> 
                <td>
                   
                 <app-consumo [telefono]="telefonos" [hidden]="inputTextBool[i]"  > </app-consumo>
                 <div class="flex flex-column gap-2">
                    <label [hidden] = "!inputTextBool[i]"  htmlFor="username">Nº de telefono</label>
                    <p-inputMask mask="999-999-999" placeholder="999-999-999" 
                    type="text"
                     pKeyFilter="int" 
                    [hidden] = "!inputTextBool[i]" 
                     (keyup.enter)="editarTelefono(telefonos, i)"
                    [(ngModel)]="telefonos.numero" 
                    [id]="'editar' + telefonos.numero"/>
                    <small  [hidden] = "!inputTextBool[i]"  id="username-help">Escribe un nuevo número de teléfono que sea correcto.</small>
                </div>             
               
                </td>
              
              <td>
               
               
               

                <div #speedDialContainer  class="card" style="height: 80px;">
                    <div class="p-mt-3 p-mb-3 flex"> 
                       
                        <div>
                            
                            <p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
                            <p-speedDial #speedDial [hidden] = "inputTextBool[i]" direction="right" showIcon="pi pi-phone" [model]="actions" (onClick)="onClickSpeedDial(telefonos.id, i)"></p-speedDial>   
                            <p-button [hidden] = "!inputTextBool[i]" icon="pi pi-times" severity="danger" (onClick)="closeEdit(i)"></p-button>
 
                        </div>
                       
                     
                    
                        
                    </div>    
                             
                   
                </div>

               
            </td>
               
        </tr>
           
        </ng-template>
    
    </p-table>
</div>


<br>
<!-- <p-button label="Ver clientes" [routerLink]= "'/clientes'" routerLinkActive="router-link-active"></p-button> -->



