<p-toolbar class ="mb-2" [style]="{'margin-left': '10%', 'margin-right': '10%'}" >
  <div class="p-toolbar-group-start">
    <p-button (onClick)="mostrarNuevaImagen = !mostrarNuevaImagen" [icon]=" mostrarNuevaImagen ? 'pi pi-minus' : 'pi pi-plus'" [label]= "mostrarNuevaImagen ? 'Ver historial' :'Analizar nueva imagen'  " class="mr-2"></p-button>
   
  </div>
  <div class="p-toolbar-group-center" *ngIf="!mostrarNuevaImagen">
    <span class="p-input-icon-left">
      
    </span>
  </div>
  <div class="p-toolbar-group-end" *ngIf="!mostrarNuevaImagen">
   <p-progressSpinner *ngIf="cargando" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </div>
</p-toolbar>

<div class="card">

  <div *ngIf="!mostrarNuevaImagen; else nuevaImagen">
    <p-accordion [style]="{'margin-left': '10%', 'margin-right': '10%'}" [activeIndex]="activeTabIndex != null ? activeTabIndex : null" (onOpen)="onTabOpen($event)">
      <p-accordionTab *ngFor="let modelo of modelosPaginados; let i = index">
        <ng-template pTemplate="header">
          <img class="border-round" [style]="{width: 'auto', height: '400px'}" [src]="'http://'+modelo" [alt]="modelo" />
          </ng-template>
        <ng-template pTemplate="content">
          <p-dialog [style]="{ width: '98%', height: '100%' }" [modal]="true" [draggable]="false" [resizable]="true" [(visible)]="dialogVisibility[i]" (onHide)="onDialogClose()" >
            <div class="inline-flex">
              <div class="flex-1 p-4">
                <h1>Modelo</h1>
                <img class="border-round" [style]="{width: 'auto', height: '400px'}" [src]="'http://'+modelo" [alt]="modelo" />
              </div>
              <div class="flex-1 p-4" >
                <h1>Imágenes</h1>
                <app-imagesCheckerHistorialDataView [imagenesInput]="imagenesDialog[i]"></app-imagesCheckerHistorialDataView>
              </div>
            </div>
          </p-dialog>
        </ng-template>
      </p-accordionTab>
    </p-accordion> 

    <p-paginator [rows]="itemsPerPage" [totalRecords]="modelos.length" [first]="first"></p-paginator>
    
  </div>
</div>

<ng-template #nuevaImagen>
  <app-imageChecker></app-imageChecker>
</ng-template>
