<p-toast></p-toast>
<p-toolbar class ="mb-2" [style]="{'margin-left': '10%', 'margin-right': '10%'}" >
  <div class="p-toolbar-group-start">
    <p-button (onClick)="mostrarNuevaImagen = !mostrarNuevaImagen" [icon]=" mostrarNuevaImagen ? 'pi pi-minus' : 'pi pi-plus'" [label]= "mostrarNuevaImagen ? 'Ver historial' :'Analizar nueva imagen'  " class="mr-2"></p-button>

  </div>
  <div class="p-toolbar-group-center" *ngIf="!mostrarNuevaImagen">
    <span class="p-input-icon-left">
      <p-button (onClick)="ordenarPorFecha()" icon="pi pi-sort" class="ml-2" [hidden]="mostrarNuevaImagen" [label]="ordenAscendente ? 'Ordenar por mas recientes' : 'Ordenar por antiguos'"></p-button>
      <p-button icon="pi pi-refresh" [hidden]="mostrarNuevaImagen" (onClick)="clear()" class="ml-2"></p-button>
    </span>
  </div>
  <div class="p-toolbar-group-end" *ngIf="!mostrarNuevaImagen">
   <p-progressSpinner *ngIf="cargando" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </div>
</p-toolbar>

<div class="card">

  <div *ngIf="!mostrarNuevaImagen; else nuevaImagen">
    <p-accordion [style]="{'margin-left': '10%', 'margin-right': '10%'}" [activeIndex]="activeTabIndex != null ? activeTabIndex : null" (onOpen)="onTabOpen($event)">
      <p-accordionTab *ngFor="let modelo of modelosPaginados; let i = index">
        <ng-template pTemplate="header">

          <div class="flex flex-column align-items-center sm:align-items-start gap-3">
            <div class="text-2xl font-bold text-900"> {{ formatDate(modelo.timestamp) }}</div>

            <div class="flex align-items-center gap-3">
              <img class="border-round" [style]="{width: 'auto', height: '400px'}" [src]="'http://'+modelo.url" [alt]="modelo.url" />    
            </div>
          </div>
        
        </ng-template>
        <ng-template pTemplate="content">
          <p-dialog  header=" Probabilidad de que el modelo este contenido en la imagen:" [modal]="true" [style]="{ width: '70vw', height: '100%'}" [draggable]="false" [resizable]="true" [(visible)]="dialogVisibility[i]" (onHide)="onDialogClose()" >
            <p-card [style]="{ border: 'solid 1px' }">
              <div class="inline-flex">
                <div class="flex-1 p-4">
                  <h1>Modelo</h1>
                  <img class="border-round" [style]="{width: 'auto', height: '400px'}" [src]="'http://'+modelo.url" [alt]="modelo.url" />
                </div>
                <div class="flex-1 p-4" >
                  
                  <h1>{{ imagenesDialog && imagenesDialog[i] && imagenesDialog[i].length == 1 ? 'Imagen ' : 'Imágenes' }}</h1>
               
                  <app-imagesCheckerHistorialDataView [imagenesInput]="imagenesDialog[i]"></app-imagesCheckerHistorialDataView>
            

                </div>
              </div>
            </p-card>
            
          </p-dialog>
        </ng-template>
      </p-accordionTab>
    </p-accordion> 

    <p-paginator [rows]="itemsPerPage" [totalRecords]="modelos.length" [first]="first" [style]="{'margin-left': '10%', 'margin-right': '10%'}" (onPageChange)="onPageChange($event)"></p-paginator>
    
  </div>
</div>

<ng-template #nuevaImagen>
  <app-imageChecker></app-imageChecker>
</ng-template>
