
<h1> Clientes</h1>


<p-toast></p-toast>
<div class ="card">
    <p-table 
    [value]="clientes"
    #dt2
    dataKey="id"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 14, 21]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['id', 'nombre', 'email']"
    [tableStyle]="{ 'min-width': '75rem' }"
    
    >
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <th></th>
            <th  style="width:40%">
               <h3>No existen clientes </h3> 
            </th>
            <th></th>
            <th></th>
           
        </tr>
        <div class="flex align-content-center flex-wrap" >
           
           
        </div>
        

    </ng-template>
   

        <ng-template pTemplate="header">
            <tr>
            <th></th>
            <th  style="width:40%">
                Añadir nuevo usuario
                <span style="margin: 0 8px;"></span> 
                 <p-button label="Nuevo" severity="success"  pRipple (click)="showCreation()" ></p-button>
            </th>
            <th></th>
            <th></th>
            <th></th>
            
            
        </tr>
            <tr>
                <th pSortableColumn="id" style="width:10%">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nombre" style="width:25%">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="nombre" style="width:30%">Email <p-sortIcon field="email"></p-sortIcon></th>
    
                <th style="width: 35%;">Opciones</th>
                
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="id"></p-columnFilter>
                    
                </th>
                <th>
                    <p-columnFilter type="text" field="nombre"></p-columnFilter>
                </th>

                <th><p-columnFilter type="text" field="email"></p-columnFilter></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clientes>
            <tr>
                <td>{{ clientes.id }}</td>
               
                <td>
                    <input type="text" [value]="clientes.nombre" pInputText (keyup.enter)="editarNombre(clientes)" style="border: none;" [(ngModel)]="clientes.nombre" [id]="'editarClienteNombre' + clientes.id">
                </td>
                <td>
                    <input type="text" [value]="clientes.email" pInputText (keyup.enter)="editarEmail(clientes)" style="border: none;" [(ngModel)]="clientes.email" [id]="'editarClienteEmail' + clientes.id">
                </td>
                <!--
                <td><p-button label="Ver Teléfonos" (click)="show(clientes.id)" severity="help"></p-button></td>
                -->
                <td>
               
                   
                    <!--
                    <div class = "card">
                        <div class=" flex align-items-center justify-content-center  m-2"> 
                            <p-button label="Editar" (click)="showEdition(clientes.id)" severity="success" ></p-button> 
                        </div>
                        <div class=" flex align-items-center justify-content-center  m-2"> 
                            <p-button label="Borrar" (click)="borrarUsuario(clientes.id)" severity="danger" ></p-button> 
                        </div>
                    </div>
                    -->
                    <div class="card" style="height: 80px;">
                        <div class="p-mt-3 p-mb-3">  <p-speedDial   direction="right" [model]="actions" (onClick)="onClickSpeedDial(clientes.id)"></p-speedDial> </div>                 
                             
                    </div>
                    
                </td>
                
    
            </tr>
        </ng-template>
    </p-table>
    

</div>




   
