
<h1> Clientes</h1>
<div *ngIf="clientes.length === 0; else clienteList">
    <p>No hay Clientes todavía.</p>
  </div>


<ng-template #clienteList>
<p-table [value]="clientes" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Opciones</th>
           
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-clientes>
        <tr>
            <td>{{ clientes.id }}</td>
            <td>{{ clientes.nombre }}</td>
            <td><p-button label="Ver Teléfonos" [routerLink]= "['/telefonos', clientes.id]" routerLinkActive="router-link-active"></p-button></td>
            <td><p-button label="Editar" ></p-button> <span style="margin: 0 8px;"></span> <p-button label="Borrar" (onClick)="borrarUsuario(clientes.id)" ></p-button></td>
            

        </tr>
    </ng-template>
</p-table>
</ng-template>

<h2>Añadir nuevo usuario</h2>


<input type="text" [placeholder]="'John Doe'" pInputText  [(ngModel)]="nuevoNombre" id = "nuevoNombre" (keyup.enter)="crearUsuario()"/>
<span style="margin: 0 8px;"></span> 
<p-button label="Nuevo" (click)="crearUsuario()"></p-button>
