<p-toast></p-toast>
<p-toolbar class ="mb-2" [style]="{'margin-left': '10%', 'margin-right': '10%'}" >
  <div class="p-toolbar-group-start">
    <p-button (onClick)="mostrarNuevaImagen = !mostrarNuevaImagen" [icon]=" mostrarNuevaImagen ? 'pi pi-minus' : 'pi pi-plus'" [label]= "mostrarNuevaImagen ? 'Ver historial' :'Analizar nueva imagen'  " class="mr-2"></p-button>

  </div>
  <div class="p-toolbar-group-center" *ngIf="!mostrarNuevaImagen">
    <span class="p-input-icon-left">
      <p-button (onClick)="ordenarPorFecha()" icon="pi pi-sort" class="ml-2" [hidden]="mostrarNuevaImagen" [label]="ordenAscendente ? 'Ordenar por mas recientes' : 'Ordenar por antiguos'"></p-button>
      <p-button icon="pi pi-refresh" [hidden]="mostrarNuevaImagen" (onClick)="clear()" class="ml-2"></p-button>
    </span>
  </div>
  <div class="p-toolbar-group-end" *ngIf="!mostrarNuevaImagen">
   <p-progressSpinner *ngIf="cargando" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </div>
</p-toolbar>

<div class="card">

  <div *ngIf="!mostrarNuevaImagen; else nuevaImagen">

  <div class="models-container">
    <div *ngFor="let modelo of modelosPaginados" 
        class="model-item" 
        (click)="openDialog(modelo)">

        
      <div class="model-header">
        <div class="date-display">{{ formatDate(modelo.timestamp) }}</div>
        <img class="model-image" 
            [src]="'http://'+modelo.url" 
            [alt]="modelo.url" />
      </div>

     
    </div>
    <p-dialog [(visible)]="dialogVisibility" 
            header="Detalles del Modelo" 
            [modal]="true" 
            [maximizable]="true"
            [style]="{width: '90%', minHeight: '90%'}" 
            (onHide)="onDialogClose()">
        <p-card [style]="{ border: 'solid 1px' }" >
          <ng-template pTemplate="header">
            <h4 class="ml-2">
              Probabilidades de que la imagen contenga al modelo
            </h4>
            
           
          </ng-template>
          
          <div class="grid-container">
            <div class="grid-item">
                <h1>Modelo</h1>
                <img class="border-round" style="width: auto; height: 200px;" [src]="'http://'+selectedModel.url" alt="selectedModel.url" />
            </div>
            <div class="grid-item">
                <h1>{{ imagenesDialog && imagenesDialog.length == 1 ? 'Imagen ' : 'Imágenes' }}</h1>
                <app-imagesCheckerHistorialDataView [imagenesInput]="imagenesDialog"></app-imagesCheckerHistorialDataView>
            </div>
        </div>
        
        </p-card>
        
      </p-dialog>

  <div class="col-12">
    <p-paginator [rows]="itemsPerPage" [totalRecords]="modelos.length" [first]="first" [style]="{'margin-left': '10%', 'margin-right': '10%'}" (onPageChange)="onPageChange($event)"></p-paginator>
  </div>

  </div>
</div>

<ng-template #nuevaImagen>
  <app-imageChecker></app-imageChecker>
</ng-template>
